body{
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

#header{
    width: 100%;
    height: 10vh;
    background-color: black;
    color: #ff0000;;
    display: flex; 
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#logo{
    height: auto;
    text-align: center;
    font-size: xxx-large;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#korkownica{
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
    text-align: center;;
    margin-top: 10vh;
}
#korkownica h1{
    font-size: xxx-large;
    color: #ff0000;
    margin-bottom: 20px;
}

#korkownica-header{
    width: 100%;
    height: 15vh;
    background-color: black;
    color: rgb(255, 0, 0);
    display: flex; 
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: xxx-large;
    font-family: "Lobster", sans-serif;
}

#kalendarz{
    width: 100%;
    height: 90vh;
}

.korkownica-item{
    width: 25%;
    height: 30vh;
    background-color: white;
    float: left;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 5vh;
}

.korkownica-item h3{
    font-size: x-large;
    color: rgb(255, 0, 0);
    margin: 10px 0;
    width: 100%;
}

.korkownica-item a{
    color: black;
    font-size: medium;
    margin: 10px 0;
    display: block;
    width: 100%;
}

.korkownica-image{
    width: 40%;
    border-radius: 10px;
    margin-top: 2vh;
    max-height: 20vh;
}

@media query (max-width: 768px) {
    .korkownica-item {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    #header, #korkownica-header {
        height: 15vh;
        font-size: xx-large;
    }
    
    #logo {
        font-size: xx-large;
    }

    .korkownica-item {
        height: auto;
        margin-bottom: 20px;
    }
    
    .korkownica-image {
        width: 80%;
        max-height: 15vh;
    }
}